<form>
<div class="fields-row">
  <div class="margin-right-10">
    <mat-form-field appearance="fill" class="width-120">
      <mat-label>Quantity</mat-label>
      <mat-select>
        <mat-option value="1">
          1
        </mat-option>
        <mat-option value="2">
          2
        </mat-option>
        <mat-option value="3">
          3
        </mat-option>
        <mat-option value="4">
          4
        </mat-option>
        <mat-option value="5">
          5
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="margin-left-10">
    <form class="example-form">
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>

    </form>
  </div>
</div>
<div class="text-align-center">
  <button mat-raised-button>Add</button>
</div>
</form>
